<div class="affiliation">

          <div class="desktop-only affiliation-status">
            <span class="affiliation-status-label" data-en="Currently" data-ja="現在">
              Currently
            </span>

            <span class="affiliation-status-sep">·</span>

            <span class="affiliation-role" data-en="__CURRENT_ROLE_EN__" data-ja="__CURRENT_ROLE_JA__">
              <em>__CURRENT_ROLE_EN__</em>
            </span>


            <span class="affiliation-status-sep">·</span>

            <span class="affiliation-institution" data-en="__HOME_AFFIL_DESKTOP_EN__" data-ja="__HOME_AFFIL_DESKTOP_JA__">
              __HOME_AFFIL_DESKTOP_EN__
            </span>
          </div>

          <!-- Mobile -->
          <div class="mobile-only affiliation-status affiliation-status-mobile">
            <span class="affiliation-status-line">
              <span class="affiliation-status-label" data-en="Currently" data-ja="現在">
                Currently
              </span>

              <span class="affiliation-status-sep">·</span>

              <span class="affiliation-role" data-en="__CURRENT_ROLE_EN__" data-ja="__CURRENT_ROLE_JA__">
                <em>__CURRENT_ROLE_EN__</em>
              </span>
            </span>

            <span class="affiliation-status-line affiliation-status-institution"
              data-en="__HOME_AFFIL_MOBILE_EN__" data-ja="__HOME_AFFIL_MOBILE_JA__">
              __HOME_AFFIL_MOBILE_EN__
            </span>
          </div>

        </div>
